{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
      <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>CRUD</h1>
    </header>
   
    <main>


        <section class="buscar">
            <form method="GET">
                <input type="text" name="q" placeholder="Buscar producto..." value="">
                <button type="submit">Buscar</button>
            </form>
        </section>

        
        <div class="container">
            <div class="producto">
                <h2>productos</h2>

                {% for producto in productos %}
                {{ producto.nombre }}
                {{ producto.precio }}
                {{ producto.descripcion }}
                {{ producto.categori}}
                {{ producto.disponible }}
                {{ producto.imagen.url}}

                
                <a href="{% url 'eliminar' producto.id %}">eliminar</a>
                
                {% endfor %}


            </div>

        </div>



        <div>
            <h2>Agregar Producto</h2>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}

            <button type="submit"> guardar</button>
            </form>
        </div>



    </main>
</body>
</html>