{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
      <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>CRUD</h1>
    </header>
    {% for categoria in categorias %}
        <h2>{{ categoria.nombre }}</h2>
    {% endfor %}
    <main>
        <section class="buscar">
            <form method="GET">
                <input type="text" name="q" placeholder="Buscar producto..." value="">
                <button type="submit">Buscar</button>
            </form>
        </section>
        <section class="productos">
            <!--{% for producto in productos %} -->
            <div class="producto">
                <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}">
                <h3>nombre</h3>
                <p>info producto...</p>
                <form method="DELETE" action="">
                    
                    <button type="submit" class="eliminar">Eliminar</button>
                </form>
                <form method="POST" action="{% url 'actualizar_producto' %}">
                    {% csrf_token %}
                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                    <input type="text" name="nombre" value="{{ producto.nombre }}" required>
                    <input type="text" name="descripcion" value="{{ producto.descripcion }}" required>
                    <input type="number" name="precio" value="{{ producto.precio }}" required>
                    <button type="submit" class="actualizar">Actualizar</button>
                </form>
            </div>
           <!-- {% endfor %}-->
        </section>
        <aside>
            <h2>Agregar Producto</h2>
            <form method="POST" >
                
                <input type="text" name="code" placeholder="Code" required>
                <input type="text" name="nombre" placeholder="Nombre" required>
                <input type="text" name="descripcion" placeholder="Descripcion" required>
                <input type="text" name="categoria" placeholder="Categoria" required>
                <input type="text" name="disponible" placeholder="Disponible" required>
                <input type="number" name="precio" placeholder="Precio" required>
                <input type="url" name="imagen_url" placeholder="Imagen (URL)" required>
                <button type="submit" class="enviar">Enviar</button>
            </form>
        </aside>
    </main>
</body>
</html>